.app .os101Sidebar {
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: var(--bg-sidebar);
    border-right: 1px solid #CCC;
    z-index: 4;
}

.app .os101Sidebar .os101Sidebar_content {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: calc(100% - 15% - 65px);
  box-sizing: border-box;
  overflow-y: auto;
}

.app .os101Sidebar .os101Sidebar_bottom {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
  height: 15%;
  background-color: transparent;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-end;
}

.app .os101Sidebar .os101Sidebar_bottom .btn-group {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  box-sizing: border-box;
  background: var(--bg-light);
  border-radius: 5px;
  border: 1px solid #CCC;
}

.app .os101Sidebar .os101Sidebar_bottom .btn-group .btn {
  font-weight: 700;
  text-transform: capitalize;
  border: none !important;
  border-radius: 5px;
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 2px;
  background-color: transparent;
  color: var(--text-title);
}

.app .os101Sidebar .os101Sidebar_bottom .btn-group .btn:hover, .app .os101Sidebar .os101Sidebar_bottom .btn-group .btn:active, .app .os101Sidebar .os101Sidebar_bottom .btn-group .btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.app .os101Sidebar .os101Sidebar_bottom .btn-check:checked+.btn {
  background-color: var(--secondary-button-bg);
  color: #FFF;
}

.app .os101Sidebar .os101Sidebar_bottom .btn-check:checked+.btn:hover, .app .os101Sidebar .os101Sidebar_bottom .btn-check:checked+.btn:active, .app .os101Sidebar .os101Sidebar_bottom .btn-check:checked+.btn:focus {
  background-color: var(--secondary-button-bg);
  color: #FFF;
}

.app .os101Sidebar .os101Logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: var(--bg-topbar);
  box-sizing: border-box;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo {
  display: flex;
  flex-flow: column wrap;
  width: calc(100% - 40px);
  height: 100%;
  justify-content: center;
  color: #FFF;
  box-sizing: border-box;
  padding-left: 15px;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo span {
  display: block;
  width: 100%;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo span:first-of-type {
  
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo span:last-of-type {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
}

.app .os101Sidebar .os101Logo img {
    display: inline-block;
    width: auto;
    height: 100%;
}

@media(max-width: 767.9px) {
  .app .os101Sidebar {
    width: calc(100% - 65px);
  }

  .app .os101Sidebar.hide {
    left: calc(0px - (100% - 65px));
  }
}

@media(min-width: 768px) and (max-width: 991.9px) {
  .app .os101Sidebar {
    width: var(--width-sidebar);
  }

  .app .os101Sidebar.hide {
    left: calc(0px - var(--width-sidebar));
  }
}

@media(min-width: 992px) {
  .app .os101Sidebar {
    width: var(--width-sidebar);
  }

  .app .os101Sidebar.hide {
    left: calc(0px - var(--width-sidebar));
  }
}